:root {
  transform: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #8b4513; /* Brown background for the game table */
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.game-table {
  background-color: #8b4513; /* Brown color for the table */
  border: 15px solid #654321; /* Dark brown border for the game table */
  border-radius: 10px; /* Rounded edges */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Add a shadow for depth */
  text-align: center;
}

.board {
  display: none;
  background-color: grey;
  border: 5px solid #000;
  height: 800px;
  width: 800px;
  margin: auto;
}

.board.active {
  display: grid;
}

.tile {
  background-color: #ddd;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  box-sizing: border-box;
  overflow: hidden;
  position: relative; /* Ensure child elements can be positioned */
  background-size: 100%;
}

.tile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Adjust as needed */
}

/* .tile.single {
    background-image: url("./images/single.png");
    background-size: 100% 100%;
}

.tile.corner {
    background-image: url("./images/corner.png");
    background-size: 100% 100%;
}

.tile.opposing {
    background-image: url("./images/opposing.png");
    background-size: 100% 100%;
}

.tile.three-way {
    background-image: url("./images/three-way.png");
    background-size: 100% 100%;
}

.tile.four-way {
    background-image: url("./images/four-way.png");
    background-size: 100% 100%;
} */

.entrance-hall,
.hallway,
.ground-floor-staircase,
.upper-landing,
.basement-landing {
  color: green;
}

/* Level buttons styling */
.level-btn {
  padding: 10px 20px;
  margin: 20px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.level-btn:hover {
  background-color: #0056b3;
}

/* Hide the active floor button */
.level-btn#current {
  background-color: #ccc;
  cursor: default;
}

.endTurnBtn {
  padding: 10px 20px;
  margin: 20px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.endTurnBtn:hover {
  background-color: #0056b3;
}

.player {
  background-color: #ff0;
  border: 2px solid #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-size: 10px;
}
